{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row">
            {% for trailer in trailers %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="trailer/{{ trailer.id }}">
                            <img class="card-img-top" alt="{{ trailer.title}}" style="max-width: 348px; display: block;" src="{{ trailer.image }}">
                        </a>
                        <div class="card-body">
                            <p class="card-text"><a href="trailer/{{ trailer.id }}">{{ trailer.title }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
