{% extends 'main.html.twig' %}

{% block title %}iTunes Movie trailers - {{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <p class="card-text mb-auto">{{ trailer.description | raw }}</p>
                <a class="full-right" href="/">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
